
<h1>Upload and Download File</h1>
<button class="btn btn-primary" style="margin-left: 10px" (click)="downloadFile()">View File</button>

<div class= "container">
  <div class="card text-white bg-info mb-3" style="max-width: 50rem;height:25rem;">
    <div class="card-header text-center"> Purchase Summary</div>
    <div class="card-body">
      <h5 class="card-title">Cart Id: {{carts?.id}}</h5>
      <h5 class="card-title">Date: {{carts?.date | date: 'dd/MM/yyyy'}}</h5>
      <hr>
      <h6 class="card-title">Items chosen:</h6>

      <ul>
        <li *ngFor="let product of carts?.productsList">
          {{product?.productName}}  - {{product?.price | currency:'EUR'}} - {{product?.quantity}} pcs.
        </li>
      </ul>
      <h5 class="card-footer">Amount: {{cartToOrder.amount | currency:'EUR'}}</h5>

      <a routerLink="/order" class="btn btn-warning" (click)="sendCartToOrder()">Go to Order</a>

    </div>
  </div>
</div>
