.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  }

  .add-product {
    margin-bottom: 30px;
  }

  .list-product {
    margin-bottom: 50px;
  }

  .btn-add-product {
    margin-right: 10px;
  }
